{% extends "basic.html" %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h4 class="h6 mr-lg-9 p-3 text-center " style="border: solid 1px red; border-radius: 1em; margin-top: 80px ">Войти</h4>
     {% if request.user.is_authenticated %}
        <p>Вы уже выполнили вход. <a href="{% url 'logout' %}">Выйти.</a></p>
        <p>Вернуться в профиль. <a href="{% url 'profile' user.id %}">Профиль</a> </p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="next" value="{{ next }}">
            {% buttons submit='Войти' %} {% endbuttons %}
        </form>
    {% endif %}
{% endblock %}