
{% extends "basic.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
 <div class="h5 mr-lg-6 p-3">
    <p class="nav-link text-dark" style ="margin-top: 80px">Приветствую ({{ user.username }}) </p>
     {% if user.avatar %}
        <img style="max-height: 80px; " src="{{ user.avatar.url }}" alt="Аватар">
     {% endif %}
    <h4 class="h5 mr-lg-6 p-3 text-center " style="border: solid 1px red; border-radius: 1em; margin-top: 50px">Опросы: <span class="text-info">{{ counter }}</span></h4>
 </div>
{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div  class="panel-heading">
                <h3 class="card-header bg-danger text-white"style="margin-top: 20px">Available Polls</h3>
            </div>
            <ul class="list-group">
                {% for poll in polls %}
                    <li class="list-group-item">
                        <strong>{{ poll.question }}</strong>
                        <span class="pull-right">
                            <a href="{% url 'vote' poll.id %}" class="btn btn-info btn-xs">Vote</a> &nbsp;
                            <a href="{% url 'results' poll.id %}" class="btn btn-default btn-xs">View Results</a> &nbsp;
                        </span>
                    </li>

                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}
<br>
{% if user.is_authenticated and user == request.user %}
    <form method="post" action="{% url 'delete_profile' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete My Account</button>
    </form>
{% endif %}
{% endblock %}